.about {
    text-align: justify;
    padding: 20px 40px;
    border-top: 1px solid #D8CBC7;
}

.about h2 {
    font-size: 2.7em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.about p {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: 500;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    border-bottom: 1px solid #D8CBC7;
}

.column {
    flex: 0 0 calc(33.33% - 40px);
    margin: 0 20px;
    margin-bottom: 40px;
    text-align: center;
}

.column h3 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.4em;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {

    .about h2 {
        text-align: center;
        font-size: 2.5em;
    }

    .about p {
        font-size: 1.3em;
    }

    .skills {
        flex-direction: column;
        padding: 0 40px;
        padding-bottom: 40px;
    }

    .column {
        flex: 1;
        margin: 0;
        margin-bottom: 20px;
        text-align: left;
    }


    h3 {
        text-align: center;
    }

    ul {
        padding-left: 0;
        text-align: center;
    }

    ul li {
        display: inline;
        margin-right: 10px;
        font-size: 1.3em;
    }

    ul li:not(:first-child) {
        margin-left: 10px;
    }
}