.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.project-card {
    width: calc(33.33% - 40px);
    margin: 0 20px 40px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.project-card:hover {
    transform: translateY(-6px);
    border-color: #333;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.project-card:hover .project-image {
    opacity: 1;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.project-info p {
    font-size: 1.4em;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.project-links {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

.project-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #D8CBC7;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
}

.project-links a:hover {
    background-color: #171614;
    color: #fff;
}

@media only screen and (max-width: 768px) {

    .project-card {
        width: calc(100% - 40px);
    }

    .project-image {
        height: 150px;
    }

    .project-links {
        flex-direction: column;
        align-items: center;
    }

    .project-info p {
        -webkit-line-clamp: 4;
        font-size: 1.3em;
    }
}