.projects {
    padding: 20px 40px;
}

.projects h2 {
    font-size: 2.7em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.section-infos {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 40px;
}



.read-more-btn {
    display: block;
    margin: 10px auto;
    margin-bottom: 40px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    background-color: #D8CBC7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    position: relative;
}

.read-more-btn:hover {
    background-color: #171614;
}

.read-more-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D8CBC7;
    transition: width 0.6s ease;
}

.read-more-btn:hover::before {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    .projects h2 {
        font-size: 2.5em;
    }

    .projects .section-infos {
        font-size: 1.3em;
    }
}